.header{
    height: 5vh;
    display: flex;
    justify-content: space-between;
  

}
.left{
    display: flex;
    justify-content: space-around;
 
}
.right{
    display: flex;
    justify-content: space-around;
}
