.all {
  display: flex;
  flex-direction: column;
  background-color: white;
  padding-top: 75px;
  overflow-y: scroll;
  scrollbar-width: none; 
}
.product {
  height: 100vh;
  width: 97vw;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.left {
  display: flex;

  width: 60%;
  height: 100%;
}
.imagecolumn {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  width: 30%;
  height: 100%;
}
.imagecolumn img {
  border-radius: 20px;
  height: 20vh;
  width: 20vh;
}
.imageprinc {
  width: 70%;
  height: 100%;
}

.imageprinc img {
  width: 80%;
  height: 100%;
  border-radius: 20px;
}

.right {
  width: 40%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}
.right p {
  font-size: 5vh;
}

.entete {
  font-size: 6vh;
  top: 0%;
}

.colors {
  display: flex;
  gap: 10px;
}

.colorrectanglebleu {
  width: 5vh;
  height: 5vh;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  border-radius: 5px;
  text-transform: uppercase;
  font-weight: bold;
  background-color: #9d0208;
}

.colorrectanglevert {
  width: 5vh;
  height: 5vh;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  border-radius: 5px;
  text-transform: uppercase;
  font-weight: bold;
  background-color: #3a5a40;
}

.colorrectanglejaune {
  width: 5vh;
  height: 5vh;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  border-radius: 5px;
  text-transform: uppercase;
  font-weight: bold;
  background-color: #ffd60a;
}

.colorrectangleblanc {
  width: 5vh;
  height: 5vh;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  border-radius: 5px;
  text-transform: uppercase;
  font-weight: bold;
  background-color: #7f4f24;
}

.colorrectanglenoir {
  width: 5vh;
  height: 5vh;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  border-radius: 5px;
  text-transform: uppercase;
  font-weight: bold;
  background-color: #bfdbf7;
}

.sizes {
  display: flex;
  gap: 10px;
}

.sizescontainer {
  width: 5vh;
  height: 5vh;
  display: flex;
  justify-content: center;
  align-items: center;
  color: rgb(0, 0, 0);
  border-radius: 5px;
  text-transform: uppercase;
  font-weight: bold;
  border: 1px solid black;
  box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.05);
  transition: all 0.2s ease-in-out;
}

.sizescontainer:hover {
  cursor: pointer;
  background-color: black;
  color: white;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
}

.btn {
  width: 70%;
  border-radius: 50px;
  padding: 1vh;
  background-color: #bfdbf7;
  color: black;
}

.sizescontainer:focus {
  color: #ffffff;
  background-color: black;
  border-color: black;
}

.sizescontainer:active {
  color: #ffffff;
  background-color: #1e293b;
  border-color: #1e293b;
}

.sizescontainer:disabled {
  pointer-events: none;
  opacity: 0.5;
  box-shadow: none;
}

.colors > button {
  box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.05);
  transition: all 0.2s ease-in-out;
}

.colors > button:hover {
  cursor: pointer;
  color: white;
  box-shadow: 0px 6px 8px rgba(0, 0, 0, 0.1);
}

.colors > button:disabled {
  pointer-events: none;
  opacity: 0.5;
  box-shadow: none;
}

.colors > button:focus {
  color: #ffffff;
  border: 3px #001021 solid;
}

.colors > button:active {
  color: #ffffff;
  background-color: #1e293b;
  border-color: #1e293b;
}
